<section>
  <div>

    <h1>
      <span>Hello.</span> I&nbsp;specialize in
      <strong>clean</strong>,
      <strong>effective</strong> and
      <strong>user centered</strong> digital experiences.
    </h1>

    <p>
      <a href="https://www.linkedin.com/in/christiancrawford/" target="_blank">// Christian Crawford, Developer</a>
    </p>

  </div>
</section>