@import "styles-variables";

section {
    min-height: 275px;

    @media (max-width: map-get($grid-breakpoints, sm)) {
        min-height: 285px;
    }

    @media (max-width: map-get($grid-breakpoints, md)) {
        background-position: center center;
        background-size: cover;
    }

    div {
        float: right;
        margin: 130px 70px 0 0px;
        text-align: right;
        width: 40%;

        @media (max-width: map-get($grid-breakpoints, sm)) {
            font-size: 19px;
            margin: 80px 33px 0 0px;
            width: 80%;
        }

        @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
            margin: 130px 45px 0 0px;
            width: 55%;
        }

        h1 {
            all: unset;
    
            span {
                font-size: 30px;
            }
        }

        p {
            color: rgba(0, 0, 0, 0.54);
            text-align: right;

            @media (max-width: map-get($grid-breakpoints, sm)) {
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}
