@import "styles-variables";

section {
    background: #0068ff;
    background-image: url(/assets/bright-squares.png);
    color: #fff;
    min-height: 285px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);

    @media (max-width: 374px) {
        min-height: 435px;
    }

    @media (min-width: 375px) and (max-width: map-get($grid-breakpoints, sm)) {
        min-height: 345px;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        min-height: 305px;
    }

    div {
        float: right;
        margin: 105px 70px 0 0px;
        text-align: right;
        width: 40%;

        @media (max-width: map-get($grid-breakpoints, sm)) {
            font-size: 19px;
            margin: 110px 33px 0 0px;
            width: 85%;
        }

        @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
            margin: 105px 45px 0 0px;
            width: 55%;
        }

        h1 {
            all: unset;
            font-size: 24px;
            line-height: 30px;

            span {
                font-size: 60px;
            }
        }

        p {
            color: #3f2929;
            font-size: 16px;
            font-weight: bold;
            margin: 8px 0 0 0;
            text-align: right;

            @media (max-width: map-get($grid-breakpoints, sm)) {
                font-size: 20px;
                font-weight: bold;
            }

            a {
                color: #0068ff;
                background: #fff;
                font-weight: bold;
                padding: 3px;
            }
        }
    }
}
