@import "styles-variables";

#angular-logo {
    height: 30px;
}

.section__title {
    color: #fff;
}

.section__subtitle {
    color: #fff;

    .social-icon {
        background: #fff;
        height: 30px;
        margin: -2px 0 0 0;
        padding: 2px 4px 2px 4px;
    }
}

section {
    background: #0068ff;
    background-image: url(/assets/bright-squares.png);
    padding: 70px 0 0 0;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);

    p:first-of-type {
        width: 60%;
        font-size: 18px;
        margin: 20px auto;

        @media (max-width: map-get($grid-breakpoints, sm)) {
            width: 90%;
        }
    }

    mat-card {
        background: none !important;
        color: #fff !important;
        padding: 35px;

        a {
            color: #0068ff;
            background: #fff;
            font-weight: bold;
            padding: 3px;
        }

        div:first-of-type {
            text-align: center;
            a.exclude {
                background: none;
            }
        }

        mat-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px 0 0 0;

            @media (max-width: map-get($grid-breakpoints, sm)) {
                display: block;
                margin: 0;
            }

            @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
                display: flex;
            }

            a {
                color: #0068ff;
                background: #fff;
                font-weight: bold;
                padding: 3px;
            }

            mat-list-item {
                color: #fff !important;
                flex-basis: 30%;
                flex: 1;
                height: auto;
                margin: 10px;

                @media (max-width: map-get($grid-breakpoints, sm)) {
                    margin: 10px 0;
                }

                h2{
                    font-weight: bold;
                }

                mat-icon {
                    color: grey;
                    font-size: 16px;
                    height: 17px;
                    padding: 0px;
                    vertical-align: middle;
                }
            }
        }
    }
}
