@import "styles-variables";

section {
    margin: 75px 0 0 0;

    @media (max-width: map-get($grid-breakpoints, sm)) {
        margin: 50px 0 30px;
    }
}

#angular-logo {
    height: 30px;
}

#gitlab-logo {
    height: 25px;
}

mat-card {
    // background: rgba(231, 255, 3, 0.15) !important;
    padding: 35px;

    div:first-of-type {
        text-align: center;
    }

    mat-list {
        margin: 20px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (max-width: map-get($grid-breakpoints, sm)) {
            display: block;
            margin: 0;
        }

        @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
            display: flex;
        }

        mat-list-item {
            flex-basis: 30%;
            flex: 1;
            height: auto;
            margin: 10px;

            @media (max-width: map-get($grid-breakpoints, sm)) {
                margin: 10px 0;
            }

            mat-icon {
                color: grey;
                font-size: 16px;
                height: 17px;
                padding: 0px;
                vertical-align: middle;
            }
        }
    }
}
