<section>

  <h2 class="section__title">Code</h2>

  <p class="section__subtitle">See my gitlab repo
    <a href="https://gitlab.com/users/christiancrawford/projects" target="_blank">
      <img src="/assets/gitlab-logo.svg" alt="GitLab Logo" class="social-icon">
    </a> for details.
  </p>

  <mat-card>

    <div>
      This site is an Angular project. See the source code <a href="https://gitlab.com/christiancrawford/christians-code" target="_blank">here</a>.
    </div>
<!-- 
    <mat-list>

      <mat-list-item>
        <div>
          <h2>
            Features
          </h2>
          <ul>
            <li>
              <a href="https://angular.io/" target="_blank">Angular</a>
            </li>
            <li>
              <a href="https://material.angular.io/" target="_blank">Angular Material</a>
            </li>
            <li>Bootstrap 4 (only
              <a href="https://v4-alpha.getbootstrap.com/content/reboot/" target="_blank">reset</a> and
              <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">grids</a>)</li>
          </ul>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div>
          <h2>
            Stack
          </h2>
          <ul>
            <li>Lazy-loading of feature modules</li>
            <li>Gully responsive design</li>
            <li>Angular-material and custom components in SharedModule</li>
          </ul>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div>
          <h2>
            Build
          </h2>
          <ul>
            <li>Built with
              <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>
            </li>
          </ul>
        </div>
      </mat-list-item>

    </mat-list> -->

  </mat-card>

</section>