<mat-sidenav-container>
  <div id="wrapper">


    <mat-toolbar>

      <span routerLink="" id="site-name">Christians<strong>Code</strong>
      </span>

    </mat-toolbar>


    <section class="content">
      <router-outlet #o="outlet"></router-outlet>
    </section>


    <footer>
      <div id="site-name">
        <br>Christians<strong>Code</strong>
      </div>

      <div id="contact">
        <p>Let's start a conversation :)<br><sup>(Currenly seeking freelance projects)</sup></p>
        <sup>Write me:</sup>
        <br>
        <a href="mailto:hello@christianscode.com">hello@christianscode.com</a>
        <br>
        <sup>Get a hold of me:</sup>
        <br>
        <a href="tel:+15137481501">(513) 748 1501</a>
        <br>
        <sup>LinkedIn - Resume</sup>
        <br>
        <a href="https://www.linkedin.com/in/christiancrawford/" target="_blank">linkedin.com/in/christiancrawford/</a>
        <br>
        <sup>GitLab - Code Repository</sup>
        <br>
        <a href="https://gitlab.com/users/christiancrawford/projects" target="_blank">gitlab.com/users/christiancrawford/projects</a>
      </div>

      <div class="col-12" id="signature">
        &copy;2018
        <a id="changelog" matTooltip="Show changelog" matTooltipPosition="before" href="https://gitlab.com/christiancrawford/christians-code/blob/master/CHANGELOG.md">
          <i class="fa fa-rocket"></i> {{version}}
          <span *ngIf="!isProd">[{{envName}}]</span>
        </a>
      </div>

    </footer>


  </div>
</mat-sidenav-container>