@import '~@angular/material/theming';

@mixin cc-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  mat-sidenav-container {
    mat-icon {
      &.icon__sidenav {
        cursor: pointer;

        @media (min-width: map-get($grid-breakpoints, md)) {
          display: none;
        }
      }
    }

    mat-toolbar {
      button {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent);
        }
      }

      .link {
        color: mat-color($primary, default-contrast);
      }
    }

    mat-sidenav {
      a {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent);
        }
      }
    }

    .footer {
      color: mat-color($primary, lighter);
      background-color: mat-color($primary, darker);

      .links,
      .signature {
        a {
          color: mat-color($primary, lighter);

          &:hover {
            color: mat-color($accent);
          }
        }
      }
    }
  }
}
