@import "styles-variables";

#wrapper {
    min-height: 100%;
    flex-direction: column;
    display: flex;
    z-index: -2;

    mat-toolbar {
        display: flex;
        position: fixed;
        z-index: 1;

        span {
            margin: 0 5px;
        }

        .space-filler {
            flex: 1 1 auto;
        }

        .social-link {
            height: 25px;

            /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
            filter: gray;

            /* IE5+ */
            -webkit-filter: grayscale(1);

            /* Webkit Nightlies & Chrome Canary */
            -webkit-transition: all 0.2s ease-in-out;

            &:hover {
                filter: none;
                -webkit-filter: grayscale(0);
            }
        }
    }

    .content {
        background: url(/assets/misty-trees.png);
        background-repeat: no-repeat;
        background-color: #eaeaec;
        flex: 1 0 auto;
        position: relative;
    }

    footer {
        background: #fff !important;
        height: 70px;
        padding: 0 15px;
        z-index: 1;

        #signature {
            margin: 30px 0 0 0;

            @media (max-width: map-get($grid-breakpoints, xs)) {
                margin: 0;
                text-align: center;
            }
        }

        #changelog {
            float: right;
        }
    }
}

// mat-sidenav-container {
//     height: 100%;

//     mat-toolbar {
//         z-index: 1;

//         .nav-button {
//             margin: 0 10px 0 0;
//         }

//         .spacer {
//             flex: 1 1 auto;
//         }

//         @media (max-width: map-get($grid-breakpoints, lg)) {
//             .nav-button {
//                 min-width: 0;
//                 padding: 0 10px;
//             }
//         }
//     }
// }

// mat-sidenav {
//     width: 250px;

//     .mat-nav-list {
//         padding-top: 0;
//     }
// }
