@import "styles-variables";

#wrapper {
    min-height: 100%;
    flex-direction: column;
    display: flex;
    z-index: -2;

    mat-toolbar {
        background: #fff;
        display: flex;
        position: fixed;
        z-index: 1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

        span {
            margin: 0 5px;
        }

        #site-name {
            color: #0068ff;
        }

        .social-link {
            height: 25px;
        }
    }

    .content {
        // background: url(/assets/misty-trees.png);
        // background-repeat: no-repeat;
        // background-color: #eaeaec;
        flex: 1 0 auto;
        position: relative;
    }

    footer {
        padding: 0 15px;
        z-index: 1;
        min-height: 250px;

        #site-name {
            color: #9ea0a2;
            font-size: 40px;
            margin: 40px 0 0 0;
            text-align: center;
        }

        #contact{
            text-align: right;
            margin: 50px 70px;

            @media (max-width: map-get($grid-breakpoints, sm)) {
                margin: 50px 10px;
            }
    
            @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
                margin: 50px 70px;
            }

            p{
                color: #0068ff;
                margin: 0 0 30px 0px;
                text-align: center;
            }

            sup{
                color: #0068ff;
                font-weight: bold;
            }

            a {
                color: #fff;
                display: block;
                background: #0068ff;
                padding: 3px;

                @media (max-width: map-get($grid-breakpoints, sm)) {
                    font-size: 14px;
                }
            }
        }

        #signature {
            color: #9ea0a2;
            font-size: 12px;
            margin: 15px 0 0 0;

            @media (max-width: map-get($grid-breakpoints, xs)) {
                margin: 0;
                text-align: center;
            }
        }

        #changelog {
            float: right;
        }
    }
}

// mat-sidenav-container {
//     height: 100%;

//     mat-toolbar {
//         z-index: 1;

//         .nav-button {
//             margin: 0 10px 0 0;
//         }

//         .spacer {
//             flex: 1 1 auto;
//         }

//         @media (max-width: map-get($grid-breakpoints, lg)) {
//             .nav-button {
//                 min-width: 0;
//                 padding: 0 10px;
//             }
//         }
//     }
// }

// mat-sidenav {
//     width: 250px;

//     .mat-nav-list {
//         padding-top: 0;
//     }
// }
