$cc-black-primary: mat-palette($mat-grey, 900, 500, 900);
$cc-black-accent: mat-palette($mat-green, A200);
$cc-black-warn: mat-palette($mat-red, A200);

$cc-black-theme: mat-dark-theme(
  $cc-black-primary,
  $cc-black-accent,
  $cc-black-warn
);
