$cc-primary: mat-palette($mat-indigo, 800, 300, 900);
$cc-accent: mat-palette($mat-light-blue);
$cc-warn: mat-palette($mat-deep-orange, A200);

$cc-theme: mat-light-theme($cc-primary, $cc-accent, $cc-warn);