$cc-grey-primary: mat-palette($mat-grey, 500, 900, 500);
$cc-grey-accent: mat-palette($mat-grey, A200);
$cc-grey-warn: mat-palette($mat-grey, A200);

$cc-grey-theme: mat-light-theme(
  $cc-grey-primary,
  $cc-grey-accent,
  $cc-grey-warn
);
