$cc-yellow-primary: mat-palette($mat-yellow, 900, 500, 900);
$cc-yellow-accent: mat-palette($mat-yellow, A200);
$cc-yellow-warn: mat-palette($mat-yellow, A200);

$cc-yellow-theme: mat-light-theme(
  $cc-yellow-primary,
  $cc-yellow-accent,
  $cc-yellow-warn
);
