<section>

  <h2 class="section__title">Experience</h2>

  <p class="section__subtitle">I am a developer with a background in design.</p>

  <p class="section__subtitle">See my linkedin
    <a href="https://www.linkedin.com/in/christiancrawford/" target="_blank">
      <img src="/assets/linkedin-logo.svg" alt="LinkedIn Logo" class="social-icon">
    </a> profile for details.
  </p>

  <mat-card>
    
    <mat-list>

      <mat-list-item>
        <a matLine href="http://www.ingagepartners.com/" target="_blank">
          <img src="../../../assets/ingage-logo.png" height="65px" width="123px">
        </a><br>
        <sup matLine>Consultant - Developer</sup>
      </mat-list-item>

      <mat-list-item>
        <a matLine href="https://www.kroger.com/" target="_blank">
          <img src="../../../assets/kroger-logo.svg" height="65px" width="79px">
        </a><br>
        <sup matLine>UI Developer</sup>
      </mat-list-item>

      <mat-list-item>
        <a matLine href="http://cbts.net/" target="_blank">
          <img src="../../../assets/cbts-logo.png" height="65px" width="123px">
        </a><br>
        <sup matLine>Senior Application Developer</sup>
      </mat-list-item>

      <mat-list-item>
        <a matLine href="https://www.trivantis.com/" target="_blank">
          <img src="../../../assets/trivantis-logo.png" height="65px" width="123px">
        </a><br>
        <sup matLine>Designer / Developer</sup>
      </mat-list-item>

      <mat-list-item>
        <a matLine href="http://ginghamsburg.org/" target="_blank">
          <img src="../../../assets/ginghamsburg-logo.png" height="65px" width="123px">
        </a><br>
        <sup matLine>Web Designer</sup>
      </mat-list-item>

    </mat-list>
    
  </mat-card>

</section>