@import "styles-variables";

.section__title, .section__subtitle {
    color: #0068ff;
}

section {
    margin: 30px 0 0 0;

    p:first-of-type {
        width: 60%;
        font-size: 18px;
        margin: 20px auto;

        @media (max-width: map-get($grid-breakpoints, sm)) {
            width: 90%;
        }
    }

    mat-card {
        background: none;
        box-shadow: none !important;
        padding: 35px;

        mat-list {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

            @media (max-width: map-get($grid-breakpoints, sm)) {
                display: block;
                text-align: center;
                margin: 0;
            }

            @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
                display: flex;
                text-align: center;
            }

            mat-list-item {
                flex-basis: 30%;
                flex: 1;
                height: auto;
                margin: 10px;

                @media (max-width: map-get($grid-breakpoints, sm)) {
                    margin: 40px 0;
                }

                sup {
                    overflow: initial;
                    font-size: 12px;
                    font-weight: bold;
                    margin: 18px 0 0 0;
                    color: #0068ff;

                    @media (max-width: map-get($grid-breakpoints, sm)) {
                        font-size: 14px;
                    }
                }

                mat-icon {
                    color: grey;
                    font-size: 16px;
                    height: 17px;
                    padding: 0px;
                    vertical-align: middle;
                }
            }
        }
    }
}
