@import "styles-variables";

section {
    margin: 30px 0;

    mat-card {
        padding: 35px;

        mat-list {
            margin: 20px 0 0 0;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

            @media (max-width: map-get($grid-breakpoints, sm)) {
                display: block;
                text-align: center;
                margin: 0;
            }

            @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
                display: flex;
                text-align: center;
            }

            mat-list-item {
                flex-basis: 30%;
                flex: 1;
                height: auto;
                margin: 10px;

                @media (max-width: map-get($grid-breakpoints, sm)) {
                    margin: 10px 0;
                }

                mat-icon {
                    color: grey;
                    font-size: 16px;
                    height: 17px;
                    padding: 0px;
                    vertical-align: middle;
                }
            }
        }
    }
}
