@import "styles-variables";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "styles-reset";
@import "../node_modules/@angular/material/theming";

/* start - Setup for Angular Material global font */
/* ///// */
@import "fonts/poppins.scss";

@include mat-base-typography($poppins-typography);
@include mat-core($poppins-typography);

/* ///// */
/* end - Setup for Angular Material global font */

@import "default-theme.scss";
@import "light-theme.scss";
@import "black-theme.scss";
@import "grey-theme.scss";
@import "yellow-theme.scss";
@import "styles-reset.scss-theme";
@import "app/app.component.scss-theme";

@mixin custom-components-theme($theme) {
    @include cc-styles-reset-theme($theme);
    @include cc-app-component-theme($theme);
}

.default-theme {
    @include angular-material-theme($cc-theme);
    @include custom-components-theme($cc-theme);
}

.light-theme {
    @include angular-material-theme($cc-light-theme);
    @include custom-components-theme($cc-light-theme);
}

.black-theme {
    @include angular-material-theme($cc-black-theme);
    @include custom-components-theme($cc-black-theme);
}

.grey-theme {
    @include angular-material-theme($cc-grey-theme);
    @include custom-components-theme($cc-grey-theme);
}

.yellow-theme {
    @include angular-material-theme($cc-yellow-theme);
    @include custom-components-theme($cc-yellow-theme);
}

/* start - global breakpoints to hide elements */
/* ***** */
.xs-min-width {
    @media (max-width: map-get($grid-breakpoints, xs)) {
        display: none;
    }
}

.sm-min-width {
    @media (max-width: map-get($grid-breakpoints, sm)) {
        display: none;
    }
}

.md-min-width {
    @media (max-width: map-get($grid-breakpoints, md)) {
        display: none;
    }
}

.lg-min-width {
    @media (max-width: map-get($grid-breakpoints, lg)) {
        display: none;
    }
}

.xl-min-width {
    @media (max-width: map-get($grid-breakpoints, xl)) {
        display: none;
    }
}

.xs-max-width {
    @media (max-width: map-get($grid-breakpoints, xs)) {
        display: none;
    }
}

.sm-max-width {
    @media (max-width: map-get($grid-breakpoints, sm)) {
        display: none;
    }
}

.md-max-width {
    @media (max-width: map-get($grid-breakpoints, md)) {
        display: none;
    }
}

.lg-max-width {
    @media (max-width: map-get($grid-breakpoints, lg)) {
        display: none;
    }
}

.xl-max-width {
    @media (max-width: map-get($grid-breakpoints, xl)) {
        display: none;
    }
}

/* ***** */
/* end - global breakpoints to hide elements */

/* start - global classes */
/* ***** */
.default-theme a {
    color: #0068ff;
}

.default-theme a:hover{
    color: #0068ff;
    text-decoration: underline;
}


.section__title {
    font-size: 33px !important;
    text-align: center;
}

.section__subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;

    .social-icon {
        height: 25px;
    }
}

/* ***** */
/* end - global classes */
